<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <targets>
    <!-- Трассировка в файл -->
    <!-- Не более 100 файлов размером не более 1М, итого максимум 100М на журналы -->
    <target name="logfile" xsi:type="File" fileName="C:\LOG\${logger}\${shortdate}.txt"
            layout="${longdate} ; ${uppercase:${level}} ; ${message}"
            concurrentWrites="true"
            keepFileOpen="false"
            maxArchiveFiles="100"
            archiveAboveSize="1000000"
            archiveEvery="Day"
            />
    <!-- Трассировка в консоль -->
    <target name="console" xsi:type="Console"
            layout="${longdate} : ${uppercase:${level}} : ${message}"
            />
    <!-- Трассировка в журнал событий Windows -->
    <target xsi:type="EventLog"
            name="eventlog"
            layout="${message}"
            machineName="."
            source="GenericService"
            log="Application" />
  </targets>
  <rules>
    <!-- Уровни трассировки:
         * Trace
         * Debug
         * Info
         * Warn
         * Error
         * Fatal
    -->
    <logger name="*" minlevel="Info"  writeTo="eventlog" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>