@page
@model Transfusion.StateOfVessels.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StateOfVessel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="StateOfVessel.StateID" type="hidden" />
            <input asp-for="StateOfVessel.VesselID" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StateOfVessel.State.SType" class="control-label"></label>
                <input asp-for="StateOfVessel.State.SType" class="form-control" disabled />

                <label asp-for="StateOfVessel.Vessel.Number" class="control-label"></label>
                <input asp-for="StateOfVessel.Vessel.Number" class="form-control" disabled />

                <label asp-for="StateOfVessel.Vessel.Volume" class="control-label"></label>
                <input asp-for="StateOfVessel.Vessel.Volume" class="form-control" disabled />

                <label asp-for="StateOfVessel.Value" class="control-label"></label>
                <input asp-for="StateOfVessel.Value" class="form-control" />
                <span asp-validation-for="StateOfVessel.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
