<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlogDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlogDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <BlogDownload.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=BLOG;Integrated Security=SSPI;</value>
            </setting>
            <setting name="WebRoot" serializeAs="String">
                <value>https://gvendolen-arterberk.wixsite.com/gvendolen/post/</value>
            </setting>
        </BlogDownload.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BlogDownload.Properties.Settings>
            <setting name="FileRoot" serializeAs="String">
                <value>c:\blog\</value>
            </setting>
        </BlogDownload.Properties.Settings>
    </userSettings>
</configuration>
