<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SeaBattle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SeaBattle.Properties.Settings.ConnectionString" connectionString="Data Source=172.26.28.15;Initial Catalog=BATTLE;Persist Security Info=True;User ID=student;Password=$tudent1" providerName="System.Data.SqlClient" />
    <add name="SeaBattleEntities" connectionString="metadata=res://*/Database.DatabaseModel.csdl|res://*/Database.DatabaseModel.ssdl|res://*/Database.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.26.28.15;initial catalog=BATTLE;persist security info=True;user id=student;password=$tudent1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <SeaBattle.Properties.Settings>
      <setting name="Interval" serializeAs="String">
        <value>500</value>
      </setting>
    </SeaBattle.Properties.Settings>
  </applicationSettings>
</configuration>