<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/WcfService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfService" contract="WcfReference.IWcfService" name="BasicHttpBinding_IWcfService"/>
        </client>
    </system.serviceModel>
</configuration>
